{# delete system block #}
delete system

{# Set host name and root authentication #}
set system host-name {{ host_name }}
set system root-authentication encrypted-password "{{ root_authentication }}"

{# Add users #}
{% for user in users %}
set system login user {{ user.name }} class {{ user.class }}
set system login user {{ user.name }} authentication encrypted-password "{{ user.encrypted_password }}"
{% endfor %}

{# Add system services #}
{% for service in services %}
set system services {{ service }}
{% endfor %}

set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file interactive-commands interactive-commands any
